.type .item {
  min-width: 28em;
  width: calc(33% - 2.25em);
  padding: 1em;
  box-shadow: var(--shadow-lvl0);
  transition: 0.4s;
  gap: 0.5em;
  display: flex;
  align-items: stretch;
}
.type .item:hover {
  border-color: transparent;
  background-color: var(--paper);
  box-shadow: var(--shadow-lvl2);
}

.type .item .description {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 0.5em;
}
.type .item .summary {
  flex-grow: 1;
  color: var(--text-secondary);
}
.type .item img {
  max-width: 16em;
  align-self: center;
}
.light .item img {
  filter: drop-shadow(0px 1px 2px var(--shadow) ) saturate(20) hue-rotate(103deg);
}
.dark .item img {
  filter: drop-shadow(0px 1px 2px var(--shadow) ) grayscale(1);
}
.type .item img {
  max-width: 16em;
  align-self: center;
  transition: 0.4s;
}
.type .item:hover img {
  transform: scale(1.15);
}

.type .item .examples {
  display: flex;
  gap: 0.25em;
}
.type .item .examples span::before {
  content: '#';
}
.type .item .examples span {
  background: var(--hover);
  padding: 0.25em 0.5em;
}
.type .item .examples span:hover {
  background: var(--active);
}



/* RESPONSIVE */
@media (max-width: 1640px) {
  .type .item {
    width: calc(50% - 2.25em);
  }
}
@media (max-width: 1200px) {
  .type .item {
    min-width: unset;
    width: 100%;
  }
}
@media (max-width: 512px) {
  .type .item {
    flex-direction: column;
  }
  .type .item img {
    max-width: 100%;
  }
}